:root {
	/* colorscheme */
	/* Informations- und Recherchedienste */
	--green-base: #a0b01e;
	--green-highlight: #c4d904;
	--green-text: #a1b01f;

	/* Studienplanung und -analyse */
	--magenta-base: #8d2c82;
	--magenta-highlight: #a63396;
	--magenta-dark-base: #831776;
	--magenta-dark-highlight: #9c1c8d;
	--magenta-text: #af33a1;

	/* Archivierung und Veröffentlichung */
	--cyan-base: #0097c6;
	--cyan-highlight: #33bee8;
	--cyan-dark-base: #2ea8ce;
	--cyan-dark-highlight: #00ace0;
	--cyan-text: #0093be;

	/* Forschung */
	--blue-base: #1a1146;
	--blue-text: #2b2171;

	/* unknown */
	--gray-base: #e6ecf0;
	--gray-light: #f2f5f7;

	--font-base: 'Montserrat', sans-serif;
	--font-header: 'Zilla Slab', serif;
	/* product name font, should be museo slab, which is non-free and not
	 * available on google fonts */
	--font-product: 'Zilla Slab', serif;
}

/* set font for pure.css grids, see
 * https://purecss.io/grids/#using-grids-with-custom-fonts */
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
	font-family: var(--font-base);
}

/* allow adding padding to grid boxes directly, keeping markup clean. See
 * https://purecss.io/grids/#applying-padding-and-borders-to-grid-units */
.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/* use the same color as the last footer stripe, so a short site does not
	 * have a strange white space at the bottom */
	background-color: var(--gray-base);
	color: var(--blue-text);
	font-family: var(--font-base);
}

a {
	cursor: pointer;
	text-decoration: none;
	color: var(--magenta-text);
}

a:hover {
	color: var(--magenta-text);
}

input[type="text"], input[type="search"], textarea {
	/* better use flexboxes */
	/*width: 100%;*/
	border: 0.1em solid #352071;
	padding: 0.2em;
}

h1, h2, h3, h4, h5, h6, .abstract {
	font-weight: normal;
	font-family: var(--font-header);
	margin-top: 1em;
}

h1 {
	font-size: 3.53em;
	line-height: 1.1em;
}

h2, .main p.abstract {
	font-size: 2.2em;
	line-height: 1.2em;
}

h3 {
	font-size: 1.7em;
	margin-bottom: 0.6em;
	line-height: 1.3em;
	font-weight: 500;
}

h4 {
	font-size: 1.2em;
	line-height: 1.3em;
	font-weight: 500;
}

address {
	font-style: normal;
}

p,
ul {
	line-height: 1.7em;
}

footer p,
footer ul  {
	font-size: 0.9em;
	line-height: 1.6em;
}

ul, 
li {
	margin: 0;
	padding: 0;
}

[type='checkbox'] {
	margin-right: 0.3em;
}

.main p {
	margin-bottom: 1.6em;
}

.wrapped {
	margin: 0 auto;
	max-width: 80%;
}

header {
	background: #240d46;
	background: linear-gradient(to right, #240d46 0%, var(--blue-text) 100%);
}

header .product-logo {
	background-image: url(https://www.lifp.de/assets/images/zpid/PreReg_bg.png);
	background-position: right;
	background-repeat: no-repeat;
	background-size: auto 100%;
	padding: 0.6em 1em;
	font-size: 3em;
	color: #FFFFFF;
}

html.magenta header .product-logo {
	background-color: var(--magenta-base);
}

header .product-logo a {
	color: inherit;
}

header .product-logo img {
	height: 1.1em;
	max-width: 100%;
}

#topline {
	background-color: #FFFFFF;
}

#topline a {
	color: var(--blue-text);
}

#topline a.active {
	color: var(--magenta-text);
	font-weight: bold;
	text-decoration: none;
}

#topline .pure-g {
	align-items: center;
	padding: 1em;
}

.topline-nav {
	text-align: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.topline-nav li {
	display: inline-block;
	margin-left: 0.3em;
	text-transform: uppercase;
}

/* formatting for two-part product name */
.product-name {
	font-family: var(--font-product);
}

#main-nav {
	background-color: #FFFFFF;
	padding: 1em 2em 0.5em 0;
}

#main-nav > ul {
	text-align: right;
}

#main-nav > ul li {
	display: inline-block;
	margin-right: 0.4em;
}

#main-nav > ul li a {
	font-size: 1.25em;
	color: #352071;
	font-family: var(--font-header);
	font-weight: 500;
	padding: 0 1em 0.7em 1em;
}

#main-nav > ul li a.active {
	color: var(--magenta-text);
}

.main {
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: white;
}

main {
	padding: 0 2em;
}

main ul {
	margin-left: 2em;
	margin-bottom: 2em;
}

main ul li {
	margin-bottom: 0.6em;
}

footer a {
	color: var(--blue-text);
}

footer a:hover {
	color: var(--magenta-text);
}

footer .btn {
	color: #FFFFFF;
}

footer ul {
	list-style: none;
}

footer h3 {
	margin-top: 0;
}

.footer-stripe-open {
	box-shadow: 0 -0.5em 1em -0.3em #b8bdc0;
	border-bottom: 0.1em solid white;
	text-align: center;
	padding: 1em;
	cursor: pointer;
}

.footer-stripe-open .arrow-open, .footer-stripe-open .arrow-close {
	font-size: 3em;
	margin: 0;
	padding: 0;
	line-height: 0.5em;
}

.footer-stripe-open .arrow-open {
	margin-top: -0.5em;
}

.footer-stripe-open .arrow-close {
	margin-bottom: -0.5em;
}

.footer-stripe-open img {
	display: inline-block;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
	width: 15rem;
	border: lightgray solid 1px;
	border-radius: 50px;
	padding: .5rem;
	background-color: white;
	vertical-align: middle;
}

.footer-stripe-contact > .pure-g > .pure-u-1,
.footer-stripe-navi > .pure-g > .pure-u-1,
.footer-stripe-imprint > .pure-g > .pure-u-1 {
	padding: 0 2em;
}

.footer-stripe-contact {
	background-color: var(--gray-base);
	border-bottom: 0.1em solid white;
	overflow-y: hidden;
}

.footer-stripe-contact > .pure-g > .pure-u-1 {
	padding: 2em 2em;
}

.footer-stripe-navi {
	background-color: var(--gray-light);
	padding: 2.0em 0;
	border-bottom: 0.1em solid white;
	overflow-y: hidden;
}

.footer-stripe-imprint {
	background-color: var(--gray-base);
}

.footer-stripe-imprint .pure-g {
	align-items: center;
}

.footer-stripe-imprint ul li {
	display: inline;
}

.footer-stripe-imprint .links {
	text-align: right;
}

.footer-stripe-imprint .links li {
	margin-left: 1em;
}

.social-line {
	text-align: right;
}

.social-line li {
	display: inline;
}

.social-line img {
	height: 3em;
	border-radius: 0.2em;
	margin-left: 0.3em;
}

/* hack to get a rectangular icon */
.social-line .facebook img {
	background-color: #1877f2;
}

.ft-contact-btn {
	text-align: right;
}

/* leibniz-psychology.org logo */
.lp-logo {
	height: 3.3em;
}

/* overrides for purecss */
table.pure-table {
	border-radius: 0.5em;
	box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
	border: 0;
}

.pure-table thead {
	background-color: var(--gray-light);
	color: inherit;
}

.pure-table-striped tr:nth-child(2n-1) td {
	background-color: transparent;
}

.pure-table-striped tr:nth-child(2n) td {
	background-color: var(--gray-light);
}

/* Make sure small buttons blend in with background */
.pure-table-striped .btn.small {
	background-color: transparent;
}

.pure-table-horizontal td, .pure-table-horizontal th, .pure-table {
	border-color: var(--gray-base);
	border: 0;
}

/* notebook-specific styling */
.actionbar {
	margin-bottom: 1em;
}
.actionbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.actionbar ul li {
	display: inline;
}
.actionbar {
	display: flex;
}
.actionbar .left {
	text-align: left;
	flex-grow: 1;
}
.actionbar .right {
	text-align: right;
	flex-grow: 3;
}

.overlay {
	z-index: 100;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
}

.modal .frame {
	background-color: #ffffff;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	/* the close button takes up the remaining padding in the top and left corner */
	padding: 1em 1em 2em 2em;
	width: 50vw;
	display: flex;
	overflow: hidden;
}

.modal .frame.fixed {
	height: 80vh;
}

.modal .frame.scaling {
	max-height: 80vh;
}

.modal .frame .icon {
	margin-right: 2em;
}

.modal .frame .content {
	display: flex;
	flex-direction: column;
	flex-grow: 3;
}

.modal .frame .userContent {
	flex-grow: 3;
	/*flex-shrink: 1;*/
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: auto;
}

.modal .frame .buttons {
	text-align: right;
	margin-top: 1em;
}

.modal h2 {
	margin-top: 0.5em;
}

[contenteditable=true] {
	border: 0.1em solid var(--blue-text);
}

[contenteditable=false] {
	border: 0.1em solid transparent;
}

.btn {
	display: inline-block;
	padding: 0.5em 2em;
	background-color: #FFFFFF;
	color: inherit;
	border: 0.1em solid transparent;
	cursor: pointer;
	white-space: nowrap;
	text-align: left;
}


/* same as links */
.btn:hover {
	color: var(--magenta-text);
	transition-duration: 0.4s;
}

.btn:disabled:hover {
	color: inherit;
}

.btn:disabled, .btn.high:disabled {
	background-color: var(--gray-base);
	cursor: not-allowed;
}

.btn.high {
	background-color: #352071;
	color: #FFFFFF !important;
}

.btn.high:hover {
	background-color: #443787;
}
.btn.high:disabled:hover {
	background-color: var(--gray-base);
}

.btn.small {
	padding: 0.5em !important;
}

.btn.medium {
	border: 0.1em solid #352071;
}

.btn.low {
}

#main-nav ul li a.router-link-active {
	color: var(--magenta-text);
}

span.placeholder {
	opacity: 0.5;
}

.application div.actions {
	text-align: right;
}

.workspaceItem .shared ul, .workspaceItem .owners ul {
	list-style-type: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.workspaceItem .title {
	text-overflow: ellipsis;
	overflow: hidden;
}

.workspaceItem .title, .workspaceItem .description {
	display: flex;
}

.workspaceItem .title > *, .workspaceItem .description > * {
	flex-grow: 1;
}

.workspaceItem .shared ul li, .workspaceItem .owners ul li {
	display: inline;
}

.workspaceItem .metadata {
	font-size: 0.9em;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.appoverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: white;
	display: flex;
	flex-direction: column;
}

.appoverlay header {
	background: none;
	border-bottom: 0.15em solid var(--gray-base);
}

.appoverlay header div {
	padding: 0.5em;
}

.appoverlay header .title {
	text-align: center;
}

.appoverlay header .title ul {
	margin: 0;
	padding: 0;
}

.appoverlay header .title li {
	display: inline;
	padding: 0 0.7em;
}

.appoverlay header .title img {
	height: 1em;
	vertical-align: middle;
}

.appoverlay header .back {
	text-align: left;
}

.appoverlay header .logo {
	text-align: right;
}

.appoverlay header .btn {
	padding: 0 1em;
}

.appoverlay header .history {
	display: inline;
	position: relative;
}

.appoverlay header .history .body {
	width: 50vw;
	min-width: 20em;
	max-width: 100vw;
	height: 50vh;
	min-height: 10em;
	max-height: 100vh;
	display: flex;
	flex-direction: column;

	top: 2rem;
	right: -1rem;
	overflow-y: scroll;
	padding: 0 !important;
}

.versions table {
	width: 100%;
	border-spacing: 0;
}

.versions table thead {
    position: sticky;
    top: 0;
    background-color: white;
}

.versions td, .versions th {
	vertical-align: top;
	border-bottom: 0.07em solid var(--gray-base);
	padding: 0.3em;
}

/* shrink to minimum */
.versions .date, .versions .select {
	min-width: 1%;
	white-space: nowrap;
}

.appoverlay iframe {
	flex: 1;
}

.appoverlay pre.log {
	max-width: 80em;
	margin: 0 auto;
	padding: 2em;
	word-wrap: break-word;
	white-space: pre-wrap;
	background-color: var(--blue-text);
	color: var(--gray-base);
}

.appoverlay .loading {
	overflow-y: auto;
}

.appoverlay .loading summary {
	text-align: center;
	padding: 0.5em;
}

.appoverlay .message {
	margin: 0;
}

.fullscreen {
	overflow: hidden;
}

/* Hide elements until ready, see https://vuejs.org/v2/api/#v-cloak */
[v-cloak] {
	display: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

.resize-enter-active, .resize-leave-active {
  transition: all 0.5s;
}
.resize-enter-from, .resize-leave-to {
	max-height: 0;
	padding: 0;
}
.resize-enter-to, .resize-leave-from {
	max-height: 20em;
}

.initials {
	background-color: var(--magenta-dark-base);
	color: white;
	font-weight: bold;
	border-radius: 0.7em;
	padding: 0.3em;
}

details > summary {
	display: block;
	/* Remove outline when focused, Google Chrome */
	outline: none;
	cursor: pointer;
}
/* remove triangle for chrome */
details > summary::-webkit-details-marker {
  display: none;
}

details.dropdown {
	position: relative;
}

details.dropdown div.body, .popup {
	box-shadow: 0 0 0.3em rgba(0,0,0,0.2);
	border: 0.1em solid #352071;
	text-align: left !important;
	background-color: white;
	padding: 0.6em;
	position: absolute;
	z-index: 1000;
}

/* If it’s a list dropdown, make sure we remove the bullets, but keep the elements as blocks */
details.dropdown div.body > ul {
	list-style-type: none;
}

details.dropdown div.body > ul li {
	display: block;
}

.dropdown.usermenu .body {
	top: 2rem;
	right: -1rem;
}

.usermenu ul li {
	margin: 0.3em 0;
}

dl dt {
	font-weight: bold;
}

dl dd {
	margin: 0.3em 0em 0.6em 0em;
}

form.filter {
	border-bottom: 0.1em solid var(--gray-base);
	padding: 0 0.5em;
}

form.filter input[type="radio"] {
	display: none;
}

form.filter div {
	display: inline-block;
	position: relative;
	bottom: -0.1em;
}

form.filter input[type="radio"] ~ label {
	padding: 0.5em;
	background-color: var(--gray-light);
	cursor: pointer;
	border: 0.1em solid var(--gray-base);
	border-radius: 0.5em 0.5em 0 0;
	display: inline-block;
}

form.filter input[type="radio"]:checked ~ label {
	background-color: white;
	border-bottom: 0.1em solid white;
}

table.workspaces {
	width: 100%;
	margin: 1em 0;
}

table.workspaces tr td {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 0;
}

table.workspaces td.title {
	text-align: left;
	font-weight: 500;
}

table.workspaces .description {
	text-align: left;
}

table.workspaces .applications {
	text-align: center;
}

table.workspaces .applications ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table.workspaces .applications li {
	display: inline;
	margin: 0 0.3em;
}

table.workspaces .actions {
	text-align: center;
	overflow: visible;
}

table.workspaces .actions ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

table.workspaces .actions li {
	display: inline;
	margin: 0;
}

.actions .dropdown .body {
	right: -1rem;
}

.actions ul.actions-container {
	display: flex;
	justify-content: center;
	/* Line-height for ul is overridden above, so reset to pure’s default */
	line-height: 1.15;
}

.spinner {
	animation: spin 2.5s infinite linear;
	height: 1.2em;
	vertical-align: middle;
}

.spinner.big {
	height: 7em;
	margin: 1em;
}

@keyframes spin {
  0% {
	transform: rotate(0deg);
  }
  100% {
	transform: rotate(360deg);
  }
}

.message {
	color: white;
	padding: 1em;
	margin: 1em 0;
	display: flex;
	align-items: center;
}

.message a {
	color: white;
	text-decoration: underline;
}

.message.warning {
	background-color: var(--magenta-base);
}

.message.info {
	background-color: var(--green-base);
}

.message i.icn {
	font-size: 1.5em;
	margin-right: 0.5em;
}

.message pre {
	margin: 0;
	white-space: pre-wrap;
}

.message .close {
	cursor: pointer;
	text-align: right;
	flex-grow: 2;
}

.packageSearch {
	display: flex;
	align-items: stretch;
}

.packageSearch > * {
	margin-right: 0.5em;
	flex-grow: 1;
}

.packageSearch > *:last-child {
	margin-right: 0;
}

.packages {
	overflow-y: scroll;
	flex-grow: 3;
	flex-shrink: 1;
}

.package p {
	margin: 0;
}

.package .version {
	opacity: 0.7;
	font-size: 0.8em;
}

.package {
	display: flex;
	padding: 1em;
}

.package .state {
	margin: 0;
}

.package .left {
	text-align: left;
	flex-grow: 1;
}
.package .right {
	text-align: right;
	flex-grow: 3;
}

.packages div.package:nth-child(2n-1) {
	background-color: transparent;
}

.packages div.package:nth-child(2n) {
	background-color: var(--gray-light);
}

.share .kind {
	margin: 1em 0;
}

.mailpreview {
	word-break: break-all;
	white-space: pre-wrap;
}

.landingpage h3 {
	margin-top: 0;
}

.landingpage .overview {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3em;
	max-width: 60em;
	margin: 0 auto;
}

.landingpage .features, .landingpage .mission {
	padding: 0 2em;
}

.landingpage .left-photo,
.landingpage .right-photo {
	border-radius: 1em;
	background-size: cover;
	min-height: 15em;
}

.landingpage .left-photo {
	background-image: url(../img/foto_links_oben.jpg);
	background-position: right;
}

.landingpage .right-photo {
	background-image: url(../img/foto_rechts_unten.jpg);
	background-position: center;
}

.landingpage .goto {
	text-align: center;
	margin-top: 3em;
}

.tosprompt ul.accept {
	list-style-type: none;
	margin: 1em 0;
	padding: 0;
}

/* align text and checkboxes */
.tosprompt ul.accept li {
	display: flex;
	margin-bottom: 1em;
}

.tosprompt ul.accept li input {
	margin-right: 0.5em;
	display: block;
}
.tosprompt ul.accept li label {
	display: block;
}

.faq-content {
	max-width: 46rem;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

.action-container > .action-tooltip {
	display: none
}

.action-container > .action-button:hover + .action-tooltip {
	display: block;
}

.action-tooltip {
	padding: 0.3em;
	pointer-events: none;
}

.share-prompt-checkboxes {
	margin-bottom: 0.7em;
}

.share-prompt-warning {
	margin-top: 1em;
	margin-bottom: 1em;
}

.settings-checkboxes {
    margin-left: 2em;
}

.horizontal-ruler {
	width: 100%;
	margin-top: 0.7em;
	margin-bottom: 0.7em;
	border: 0;
	border-top: .1em solid var(--blue-text);
}

.inline-icon {
	margin-right: 0.3em;
}

.danger {
	color: red;
}

/* use same breakpoint as pure-m */
@media screen and (max-width: 48em) {
.landingpage .overview {
	grid-template-columns: 1fr;
}

.landingpage .features, .landingpage .mission {
	padding: 0;
}
}
