<modal :title="t('headline')" :closeName="t('back')" :closeLink="{name: 'workspace', params: {wsid: workspace?.metadata._id}}" :scaling="true" icon="file-export">
	<div v-if="workspace">
		<p>{{ t('description', {project: workspace.metadata.name}) }}</p>
		<label for="kind">{{ t('exportas') }}</label>
		<select v-model="kind" name="kind" id="kind" size="0">
		<option v-for="format in supportedFormats" :key="format" :value="format">{{ t('kind-' + format) }}</option>
		</select>
		<p>{{ t('description-' + kind) }}</p>
	</div>
	<p v-else>{{ t('notfound') }}</p>
	<template v-slot:buttons>
		<action-button :f="run" icon="file-export" importance="high">{{ path[kind] ? t('download') : t('submit') }}</action-button>
	</template>
</modal>
