<div id="quick-navigator" class="qn--container" :class="{'qn--hide': hideNav}" v-click-outside="hideSideNav">
	<ul class="qn--list">
		<li v-for="item in tocData" 
			:key="item.anchor" 
			class="qn--item qn--top-level-item" 
			:class="{'qn--collaptor-item':item.children.length > 0}">
			<a class="qn--link" :href="'#'+item.anchor" @click="smoothScrollIntoView($event)">{{ item.text }}</a>
			<i v-if="item.children.length > 0"
					:class="expanderClass(item.anchor)"
					@click="toggleSubListShown(item.anchor)"></i>
			<transition name="transition-slide">
				<ul v-if="item.children.length > 0 && subListShown.has (item.anchor)" class="qn--inner-list">
					<li v-for="innerItem in item.children" :key="innerItem.anchor" class="qn--item qn--second-level-item">
						<a class="qn--link" :href="'#'+innerItem.anchor" @click="smoothScrollIntoView($event)">{{ innerItem.text }}</a>
					</li>
				</ul>
			</transition>
		</li>
	</ul>
	<div id="qn--slider" class="qn--slider" @click="toggleSideNav">
		<span class="qn--text">{{ t('toc') }}</span>
	</div>
</div>
